:root {
  --primary-green: rgb(71, 163, 88);
  --secondary-green: rgba(71, 163, 88, 0.5);
  --primary-white: rgb(255, 255, 255);
  --red: red;
  --gray: #f8f8f8;
  --dark-gray: gray;
  --orange: orange;
  --dark: #000000;
  --white: #fff;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", sans-serif;
}
